
<body>
        <!-- <img src="../../../assets/images/Avtar.jpg" alt="Logo" class="Image"> -->
        <div class="container fields">
            <h1>CheckOut Here</h1>
            <form>
                <div class="row">
                    <div>
                        <p>Name</p>
                        <input type="text" name="name" placeholder="Enter Your Name" required>
                    </div>
                    <div>
                        <p>Email</p>
                        <input type="text" name="email" placeholder="Enter Your Email" required>
                    </div>
                    <div>
                        <p>MobileNo</p>
                        <input type="text" name="number" placeholder="Enter MobileNo" required>
                    </div>
                    <div>
                        <p>Address</p>
                        <input type="text" name="address" placeholder="Enter Address" required>
                    </div>
                    <div>
                        <p>City</p>
                        <input type="text" name="city" placeholder="Enter City" required>
                    </div>
                    <div>
                        <p>State</p>
                        <input type="text" name="state" placeholder="Enter State" required>
                    </div>
                    <div>
                        <p>PinCode</p>
                        <input type="text" name="number" placeholder="Enter PinCode" required><br/> <br/>   
                    </div>
                    <div class="button">
                        <input type="submit" name="submit" class="btn btn-primary" value="Place order">    
                    </div>
                </div>
            </form>
        </div>
</body>
