body {
    margin: 0px;
    padding: 0;
    background: url(../../../assets/images/Grocery_Image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.ForgetPassword {
    margin:1em ;
    width: 320px;
    height: 370px;
    background: black;
    color: white;
    top: 50%;
    left: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.Image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    margin: 10px;
}
h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.ForgetPassword p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.ForgetPassword input {
    width: 100%;
    margin-bottom: 20px;
}

.ForgetPassword input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 48px;
    color: white;
    font-size: 16px;
}

.ForgetPassword input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: white;
    font-size: 18px;
    border-radius: 20px;

}

.ForgetPassword input[type="submit"]:hover {
    cursor: pointer;
    background: yellow;
    color: #000;
}