<!-- Contact Us Area Start -->


<body>
    <div class="container">

        <div class="col-12 col-lg-12">

            <div class="contact mb-1">

                          
                <h2>Contact Us </h2>
                <h5>Akash Rajak </h5>
                <p> <i class="bi bi-geo-alt"></i> Dhanmantri Nagar, Tilwara,
                    Jabalpur(M.P)<br />&nbsp;&nbsp;&nbsp;&nbsp; 
                    Pin– 482003<br>
                    <i class="bi bi-phone"></i>+91 7869120909<br>
                    <i class="bi bi-envelope"></i> Akash.Rajak@mastek.com<br>
                </p>

                <h5>Akash Telrandhe </h5>
                <p> <i class="bi bi-geo-alt"></i> Chatrapati Nagar,Nagpur(M.H)<br />&nbsp;&nbsp;&nbsp;&nbsp;
                    Pin– 403455<br>
                    <i class="bi bi-phone"></i>+91 7020954587<br>
                    <i class="bi bi-envelope"></i> Akash.Telrandhe@mastek.com<br>
                </p>

                <h5>Akshay Wahile </h5>
                <p> <i class="bi bi-geo-alt"></i> Jagnade Nagar, Bhandara(M.H)<br />&nbsp;&nbsp;&nbsp;&nbsp;
                    Pin– 441922<br>
                    <i class="bi bi-phone"></i>+91 9881136455<br>
                    <i class="bi bi-envelope"></i> Akshay.Wahile@mastek.com<br>
                </p>

            </div>

        </div>
    </div>
</body>
    