<!-- About Us Area Start -->




<body>
    <div class="container">
        <div class="col-12 col-lg-12">
            <div class="about mb-1">

            <p>           
               <h2>About Us </h2>
                <p>  We online grocery are here to deliver all daily need to<br/>
                     you in a single platform and its a store that primarily <br/>
                     retails a general range of food products,  which may be <br/>
                     fresh or packaged.
                </p>
            

            </div>
        </div>
    </div>
</body>
    

    