body {
    margin: 0px;
    padding: 0;
    background: url(../../../assets/images/Background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.about{
    float:right;
    top: 60%;
    left: 70%;

}
h2{
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
}
p{
font-weight: bold;
}