<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Grocery Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto">

          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" routerLink="menu" routerLinkActive="active-link">Menu</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" routerLink="about" routerLinkActive="active-link">AboutUs</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" routerLink="contact" routerLinkActive="active-link">ContactUs</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link active" routerLink="login" routerLinkActive="active-link"><i class="bi bi-person-circle"></i></a>
          </li> --> 
        </ul>

        <form class="d-flex" role="search" id="search">
          <input class="form-control me-1" type="search" placeholder="Search Grocery" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
          <!-- cart -->
          <!-- <a class="nav-link active" routerLink="cart" routerLinkActive="active-link"><i class="bi bi-cart4 "></i></a> -->
        </form>

        <button style="font-size:1px ;" class="nav-link active" routerLink="cart" class="btn btn-dark ">
          <!-- <i style="font-size: 10px;" class="fas fa-cart-plus"></i> -->
          <mat-icon>shopping_cart</mat-icon>
          <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
        
        <div class="icon">
          
          <a class="nav-link active" routerLink="login" routerLinkActive="active-link"><mat-icon class="loginicon">account_circle</mat-icon></a>
        </div>
      </div>
    </div>
  </nav>

  <!-- <i class="bi bi-person-circle"></i> -->
