.navbar-expand-lg .navbar-nav .nav-link.active-link{
    color: white;
    font-weight: bold;
}
i{
    font-size: 20px;
    padding-left: none;
}
.icon{
font-size: 10px;
size:3px;
padding: none;
}
.d_flex{
    height: 20px;
}
#id{
    height: 20px;
    width: 20px;
    
}
/* .icon >mat-icon{
    height: 30px;
    font-size: 40px;
} */
.loginicon{
 font-size: 30px;
 margin: none;
 margin-left: none;
}