<body>
    <div class="Loginbox">
        <img src="../../../assets/images/Avtar.jpg" alt="Grocery image" class="Image">
        <h1>Login Here</h1>
        <form>
            <p>Email</p>
            <input type="text" name="email" placeholder="Enter your Email" required>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="submit" name="submit" value="Login"><br />&nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="../forgetpassword">Forgot_Password? </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="../register">SignUp</a>
        </form>
    </div>
</body>

